<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name='serviceBus' type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core"/>
    <section name="tripleDES" type="Shuttle.ESB.Core.TripleDESSection, Shuttle.ESB.Core"/>
    <!--<section name='sqlServer' type="Shuttle.ESB.SqlServer.SqlServerSection, Shuttle.ESB.SqlServer"/>-->
  </configSections>
  <!--<sqlServer
    subscriptionManagerConnectionStringName="Subscription"
    idempotenceServiceConnectionStringName="Idempotence"
    scriptFolder=""
  />-->
  <connectionStrings>
    <add name="." connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Queue;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <serviceBus
    createQueues="true"
    removeMessagesNotHandled="true"
    compressionAlgorithm="Deflate"
    encryptionAlgorithm="3DES">
    <inbox
      workQueueUri="sql://./shuttle-server-work"
      deferredQueueUri="sql://./shuttle-server-deferred"
      errorQueueUri="sql://./shuttle-server-error"
      threadCount="1"
      durationToSleepWhenIdle=""
      durationToIgnoreOnFailure=""
      maximumFailureCount="5"
      distribute="false"
      distributeSendCount="5" />
    <transactionScope
      enabled="true"
      isolationLevel="ReadCommitted"
      timeoutSeconds="30" />
  </serviceBus>
  <tripleDES key="EC396C19-05BB-4C72-9F96-E515E3EC70E6"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>