<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core"/>
    <section name="tripleDES" type="Shuttle.ESB.Core.TripleDESSection, Shuttle.ESB.Core"/>
  </configSections>
    <connectionStrings>
    <add name="." connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Queue;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <serviceBus
    createQueues="true"
    removeMessagesNotHandled="true"
    compressionAlgorithm="Deflate"
    encryptionAlgorithm="3DES">
    <messageRoutes>
      <messageRoute uri="sql://./shuttle-server-work">
        <add specification="StartsWith" value="Shuttle.Contracts" />
      </messageRoute>
    </messageRoutes>
  </serviceBus>
  <tripleDES key="EC396C19-05BB-4C72-9F96-E515E3EC70E6"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>